<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item >
        <ion-label ><ion-icon name="locate" item-start></ion-icon></ion-label>
        <ion-input type="text" placeholder="Find nearby..." (ionChange)="onChangeTime($event)"></ion-input>
        <ion-spinner item-end *ngIf="!careProvidersLoaded"></ion-spinner>
      </ion-item>
    </ion-list>



    <ion-item class="tboarder" *ngFor="let careProvider of careProviders; let i = index" (click)="careProviderClicked(cardProvider)">
      <ion-icon name="call" item-start></ion-icon>

      <h3 *ngIf="prescription === undefined">{{ careProvider.title.replace("_", " ") }} <b>{{ careProvider.name }}</b>
      </h3>
      <h3 *ngIf="prescription !== undefined"> <b>{{ careProvider.name }}</b>
      </h3>
      <a href="tel:{{ careProvider.phone }}">{{ careProvider.phone }}</a>
      <!--<p>from {{ drug.authHolder }}</p>-->
      <!--<p>{{ prescription.numTablets[i] }} Tablets</p>-->



      <span item-end>{{ careProvider.distStr }}</span>
      <button ion-button item-end
              *ngIf="prescription !== undefined"
              [disabled]="careProvider.orderSent"
              (click)="buyMeds(careProvider)">Order</button>
    </ion-item>
  </ion-card>

</ion-content>
