<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bill</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <!--Bills to reimburse vs. Bills already reimbursed-->
    <ion-card-header>
      <h1 ion-text color="primary" style="text-align:center;">
        1500.0 CHF
      </h1>
      <br>
      <h2 ion-text color="dark" style="text-align:right;">
        100.0 / 1600.0 CHF
      </h2>
    </ion-card-header>

    <ion-card-content>
      <h3 ion-text>
        <em>
          You have 1600.0 CHF medical bills this month, 100.0 CHF is already refunded.
        </em>
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <h2> Bill Example1 </h2>
        <p> 15.09.2018 </p>
        <span item-right>1500.0 CHF</span>
        <div item-right>
          <button ion-button color="secondary">
            New Bill&nbsp;
          </button>
        </div>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Send to AXA
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <h2> Bill Example1 </h2>
        <p> 03.09.2018 </p>
        <span item-right>100.0 CHF</span>
        <div item-right>
          <button ion-button color="light">
            Refunded
          </button>
        </div>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Details
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <h2> Bill Example1 </h2>
        <p> 01.09.2018 </p>
        <span item-right>0.0 CHF</span>
        <div item-right>
          <button ion-button color="danger">
            Rejected
          </button>
        </div>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Details
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!--<ion-list>-->
    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">-->
      <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-end>-->
        <!--{{item.note}}-->
      <!--</div>-->
    <!--</button>-->
  <!--</ion-list>-->
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
