<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Bills</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <!--Bills to reimburse vs. Bills already reimbursed-->
    <ion-card-header>
      <h1 ion-text color="primary" style="text-align:center;">
        {{ calculateSum() - calculateRefunded() }}.0 CHF
      </h1>
      <br>
      <h2 ion-text color="dark" style="text-align:right;">
        {{ calculateRefunded() }}.0 / {{ calculateSum() }}.0 CHF
      </h2>
    </ion-card-header>

    <ion-card-content>
      <h3 ion-text>
        <em>
          You have {{ calculateSum() }}.0 CHF medical bills this month, {{ calculateRefunded() }}.0 CHF is already refunded.
        </em>
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let bill of activeBills">
      <ion-item id="new-bill">
        <h2> {{bill.prescription.name}}</h2>
        <p> {{bill.date}} </p>
        <span item-right>{{bill.amount}}.0 CHF</span>
        <div item-right>
          <button ion-button color="{{ bill.statusColor }}">
            {{ bill.statusText }}&nbsp;
          </button>
        </div>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="{{ bill.buttonColor }}" (click) ="sendToInsurance($event, bill)">
          <ion-icon>
            <img class="avatarImg" src="assets/imgs/axa_logo.png">
          </ion-icon>
          {{ bill.buttonText }}
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding *ngFor="let bill of pastBills">
      <ion-item id="past-bill">
        <h2> {{bill.prescription.name}}</h2>
        <p> {{bill.date}} </p>
        <span item-right>{{bill.amount}}.0 CHF</span>
        <div item-right>
          <button ion-button color="{{ bill.statusColor }}">
            {{ bill.statusText }}&nbsp;
          </button>
        </div>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="{{ bill.buttonColor }}" (click) ="detailsClick($event, bill)">
            <ion-icon name="ios-document"></ion-icon>
          Details
        </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

  <!--<ion-list>-->
    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">-->
      <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-end>-->
        <!--{{item.note}}-->
      <!--</div>-->
    <!--</button>-->
  <!--</ion-list>-->
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
