<!--
  Generated template for the PrescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Prescription</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-item class="qr-code">
      <img src="assets/imgs/qr-code.png">
    </ion-item>

    <ion-item class="tboarder" *ngFor="let drug of prescription.drugs; let i = index" (click)="drugClicked(drug)">
      <ion-icon name="md-beaker" item-start></ion-icon>
      <h4>{{ drug.title }} {{ prescription.grams[i] }} mg</h4>
      <p>from {{ drug.authHolder }}</p>
      <p>{{ prescription.numTablets[i] }} Tablets</p>
    </ion-item>

    <!--<ion-item class="tboarder">-->
      <!--<ion-icon name="md-beaker" item-start></ion-icon>-->
      <!--<h4>Paracetamol 10mg</h4>-->
      <!--<p>30 Tablets</p>-->
    <!--</ion-item>-->
  <!---->
    <!--<ion-item>-->
      <!--<ion-icon name="md-beaker" item-start></ion-icon>-->
      <!--<h4>Echinacea 3200mg</h4>-->
      <!--<p>60 Tablets</p>-->
    <!--</ion-item>-->

    <!-- <ion-item class="space"></ion-item> -->

    <ion-row class="tboarder">
      <ion-col class="desc">
        <p>Name</p>
        <h4>{{ prescription.doctor.name }}</h4>
      </ion-col>
      <ion-col class="desc">
        <p>Date</p>
        <h4>15 Sept 2018</h4>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="signature desc">
          <p>Signature</p>
          <img [src]="prescription.doctor.signaturePath">
        </ion-col>
    </ion-row>

    <ion-item>
      <button ion-button icon-start clear item-end>
        <ion-icon name="ios-information-circle-outline"></ion-icon>
        Details
      </button>
    </ion-item>
  
  </ion-card>
</ion-content>

<ion-footer *ngIf="prescription.isActive">
  <ion-toolbar>
    <button ion-button color="primary" item-end (click)="onFindPharmacies()">
      Order
    </button>
  </ion-toolbar>
</ion-footer>
