page-prescription {
  
  ion-row {
    padding: 10px
  }

  .tboarder {
    border-top: 1px solid #cccccc
  }

  .space {
    height: 80px;
  }

  .qr-code {
    img {
      height: 180px;
      width: 180px;
      margin: auto;
    }
  }

  .signature {
    img {
      height: 60%;
      width: 60%;
      margin-left: 0px;
    }
  }
}

