<!--
  Generated template for the PrescriptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Prescription list</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let prescription of prescriptions" (click)="prescriptionTapped($event, prescription)">
      <!--<ion-icon [name]="prescription.name" item-start>-->
      <!--</ion-icon>-->
      {{ prescription.name }}
      <div class="item-note" item-end>
        {{ prescription.name }} (If we need to add something)
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>

